<!DOCTYPE html>
<html>
    <head>
        <title>SVOURL - 縮網址</title>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link type="text/css" href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
        <link type="text/css" href="{{ static_url('css/style.css') }}" rel="stylesheet" media="screen">
        <link type="text/css" href="{{ static_url('color/default.css') }}" rel="stylesheet" media="screen">

        <script src="{{ static_url('js/modernizr.custom.js') }}"></script>
    </head>

    <body>
        {% block body %}{% end %}

        {% block bottom %}{% end %}

        <section id="social_media" class="home-section bg-white">
            <div class="container">
                <div class="row mar-top30 mar-down30">
                    <div class="col-md-offset-2 col-md-8">
                        <!--
                        <h5>We're on social networks</h5> 
                        -->
                        <ul class="social-network">
                            <!--
                            <li><a href="#">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span></a>
                            </li>
                            -->
                            <li>
                                <a href="/">
                                    <!--<span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                                    </span>
                                    -->
                                    [INDEX]
                                </a>
                            </li>
                            <li>
                                <a href="/TUTORIAL">
                                    <!--<span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                                    </span>
                                    -->
                                    [TUTORIAL]
                                </a>
                            </li>
                            <li>
                                <a href="mailto:mail@svourl.com">
                                    <!--
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                    -->
                                    [FEEDBACK]
                                </a>
                            </li>
                            <li>
                                <a href="https://mega.co.nz/#!6IUyhQKT!Vu4gNyQFX4DWyM-iUsdNdEIlxVpyvo3l-T87q1mUhOc">
                                    <!--
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                    -->
                                    [Firefox Plugin]
                                </a>
                                <a href="http://www.accessfirefox.org/Install_Addon_Manually.php">How to install firefox addon manually</a>
                            </li>
                            <!--
                            <li><a href="#">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                            </span></a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy;2014 Concerto Studio All rights reserved.<a href="www.svourl.com"></a></p>
                </div>
            </div>		
        </div>	
        </footer>

        <!-- js -->
        <script src="{{ static_url('js/jquery.js') }}"></script>
        <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/jquery.smooth-scroll.min.js') }}"></script>
        <script src="{{ static_url('js/jquery.dlmenu.js') }}"></script>
        <script src="{{ static_url('js/wow.min.js') }}"></script>
        <script src="{{ static_url('js/custom.js') }}"></script>

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-50429611-1', 'svourl.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
        </script>

    </html>
