{% extends "base.html" %}

{% block body %}

<section id="error" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Ohoh! Something wrong!</h2>
                    <p>{{error_msg}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% end %}
