{% extends "base.html" %}

{% block body %}
<section id="shorten" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Let's shorten your URL</h2>
                    <p>You can shorten URL, encode your message.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <form class="form-horizontal" role="form" action="/" id="main_function" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <textarea name="long_data" class="form-control" rows="3" placeholder="URL, data, message, etc."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" class="btn btn-theme btn-lg btn-block"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% end %}

