{% extends "base.html" %}

{% block body %}

<section id="error" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Your link contains malicious site.</h2>
                    <h3>Advisory provided by Google,</h3>                                           <h3>please check <a href="https://developers.google.com/safe-browsing/safebrowsing_faq#whyAdvisory">Link</a></h3>
                    <p>{{LongData}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% end %}
