<!DOCTYPE html>
<html>
    <head>
        <title>SVOURL</title>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link type="text/css" href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
        <link type="text/css" href="{{ static_url('css/style.css') }}" rel="stylesheet" media="screen">
        <link type="text/css" href="{{ static_url('color/default.css') }}" rel="stylesheet" media="screen">

        <script src="{{ static_url('js/modernizr.custom.js') }}"></script>
    </head>

    <body>
        <!--
        <div class="menu-area">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu">
                    <li>
                    <a href="#intro">Home</a>
                    </li>
                    <li><a href="#shorten">shorten</a></li>
                    <li>
                    <a href="#">Sub Menu</a>
                    <ul class="dl-submenu">
                        <li><a href="#">Sub menu</a></li>
                        <li><a href="#">Sub menu</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
        -->

        <!-- intro area
        <div id="intro">
            <div class="intro-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="brand">
                                <h1><a href="index.html">SVOURL</a></h1>
                                <div class="line-spacer"></div>
                                <p><span>Shorten URL, data, and your words.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Contact -->
        <section id="shorten" class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Let's shorten your URL</h2>
                        <p>You can shorten URL, encode your message.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <textarea name="message" class="form-control" rows="3" placeholder="URL, data, message, etc."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <button type="button" class="btn btn-theme btn-lg btn-block">Shorten</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mar-top30 ">
                <div class="col-md-offset-2 col-md-8">
                    <h5>We're on social networks</h5>
                    <ul class="social-network">
                        <li><a href="#">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span></a>
                        </li>
                        <li><a href="#">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                        </span></a>
                        </li>
                        <li><a href="#">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span></a>
                        </li>
                        <li><a href="#">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                        </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </section>

        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy;2014 Concerto Studio. All rights reserved. <a href="www.svourl.com"></a></p>
                </div>
            </div>		
        </div>	
        </footer>

        <!-- js -->
        <script src="{{ static_url('js/jquery.js') }}"></script>
        <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/jquery.smooth-scroll.min.js') }}"></script>
        <script src="{{ static_url('js/jquery.dlmenu.js') }}"></script>
        <script src="{{ static_url('js/wow.min.js') }}"></script>
        <script src="{{ static_url('js/custom.js') }}"></script>

    </html>
