{% extends "base.html" %}

{% block body %}
<section id="shorten" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>No this data exist</h2>
                    <p>
                        YOUR INPUT IS : {{ShortData}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% end %}
