{% extends "base.html" %}

{% block body %}

<section id="result" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Your result</h2>
                    <p>http://svourl.com/{{ShortData}} <a href="http://svourl.com/{{ShortData}}" target="_blank">[GO]</a></p>
                    <h2>And here is your input</h2>
                    <p>{{LongData}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% end %}
