{% extends "base.html" %}

{% block body %}

<section id="result" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Tutorial</h2>
                </div>

                <div class="section-heading">
                    <h3>We now have {{total_data_count}} URL havs been shortened.</h3>
                </div>

                <div class="section-heading">
                    <h3>We now have {{total_accessor_count}} user.</h3>
                </div>
            </div>
        </div>
    </div>
</section>

{% end %}
