{% extends "base.html" %}

{% block body %}
<section id="shorten" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>YOUR INPUT DATA IS</h2>
                    <p><pre>
{{LongData}}
                    </p></pre>
                </div>
            </div>
        </div>
    </div>
</section>


{% end %}
