{% extends "base.html" %}

{% block body %}

<section id="result" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Tutorial</h2>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12">
                    <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                        <h4>Usage 1</h4>
                        <p>You can shorten google map url</p>
                        <img src="{{ static_url('img/tutorial/usage1_google_map_shorten.jpg') }}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12">
                    <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                        <h4>Usage 2</h4>
                        <p>You can shorten some specific url</p>
                        <img src="{{ static_url('img/tutorial/usage2_some_link.jpg') }}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12">
                    <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                        <h4>Usage 3</h4>
                        <p>You can also shorten a long and meaningless url</p>
                        <img src="{{ static_url('img/tutorial/usage3_google_search_link.jpg') }}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12">
                    <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                        <h4>Usage 4</h4>
                        <p>And You can even shorten some words</p>
                        <img src="{{ static_url('img/tutorial/usage4_some_words.jpg') }}" alt="" class="img-responsive"/>
                    </div>
                </div>
                <div class="section-heading">
                    <h3>And then push the submit button then you can get your shorten url!</h3>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12">
                    <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                        <img src="{{ static_url('img/tutorial/shorten_result_page.jpg') }}" alt="" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% end %}
